.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.container {

  background-color: #525252;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
.container__text{
  font-size: 1.3rem;
  text-align: center;
  color:aliceblue;
  padding-top: 30px;
  padding-bottom: 20vh;
  font-weight: 600;
}
.container_form {
  text-align: center;
  input {
    margin-bottom: 13px;
    padding: 0px 10px 0px 10px;
    
  }
}