.wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  background: linear-gradient(45deg, #d299c2, #fef9d7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  

}
