.container {
  width: 80%;
  margin: 0 auto;
}
.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: $--btn-padding;
  font-weight: 500;
  border-radius: $--border-radius;
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 0.9;
  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background: rgb(60, 22, 73);
  background: linear-gradient(187deg, rgba(60, 22, 73, 1) 0%, rgba(101, 23, 156, 1) 15%);
  color: $--color-light;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: $--color-gray;
}

nav {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(126deg, rgba(2, 0, 36, 1) 9%, rgba(121, 9, 66, 0.86) 60%, rgba(0, 159, 255, 0.3) 100%);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 1110;
  box-shadow: 0px 9px 11px 0px rgba(0, 159, 255, 0.2);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  background: rgb(2, 0, 36);
  background: linear-gradient(126deg, rgba(2, 0, 36, 1) 9%, rgba(39, 18, 29, 0.8) 64%);
  border-radius: $--border-radius;
  padding: $--search-padding;
}

.search-bar input[type='search'] {
  background: transparent;
  width: 30vw;
  margin-left: 0.9rem;
  color: $--color-light;
}

nav .search-bar input[type='search']::placeholder {
  color: $--color-gray;
}
.header__logout a {
  position: relative;
}
.notifications-popup {
  position: absolute;
  right: -1.1rem;
  width: 30rem;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  box-shadow: inset 0 0 11px 2px rgba(0, 159, 255, 0.1);
  border-radius: $--border-radius;
  padding: $--card-padding;
}

.notifications-popup::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  position: absolute;
  right: 1.3rem;
  top: -3px;
  transform: rotate(45deg);
}

.notifications-popup > div {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.notifications-popup small {
  display: block;
}

i .notifications-count {
  background: $--color-danger;
  color: white;
  font-size: 0.6rem;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.8rem;
}

.header__logout {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.profile-photo {
  cursor: pointer;
}
.header__right {
  position: relative;
}

.logout-popup {
  position: absolute;
  border-radius: 8px;
  width: 140px;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  top: 4rem;
  padding: 0.5rem 0;
  left: -90px;
  box-shadow: 0 0 11px 2px rgba(0, 159, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & a {
    color: $--color-light;
  }
  & a:hover {
    opacity: 0.7;
  }
}

.logout-popup::before {
  content: '';
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  transform: rotate(45deg);
  display: block;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  right: 23px;
  top: -7px;
}
