.settings__container {
  width: 100%;
  height: 50vh;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  box-shadow: 1px 3px 11px 2px rgba(0, 159, 255, 0.2);
  border-radius: 20px;
  padding: 40px;
}

