.left .sidebar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-top: 1rem;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  box-shadow: 1px 3px 11px 2px rgba(0, 159, 255, 0.2);
  @media (min-width: 768px) {
    border-radius: $--card-border-radius;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: sticky;
  }

  padding: 0 10px 0 10px;
}

.left .sidebar .menu-item {
  display: flex;
  // align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  @media (min-width: 768px) {
    justify-content: center;
  }
  @media (min-width: 1024px) {
    justify-content: start;
  }
}
.menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  > h3 {
    display: none;
    @media (min-width: 1024px) {
      display: inline-block;
      width: 150px;
    }
  }
  @media (min-width: 1024px) {
    justify-content: flex-start;
    margin-left: 15px;
    width: 100%;
  }
}
.left .sidebar .menu-item:hover {
  opacity: 0.7;
}
i {
  font-size: 1.4rem;
  color: $--color-gray;
  position: relative;
}
a {
  text-decoration: none;
}
.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: $--color-primary;
}

.left .sidebar .active::before {
  content: '';
  display: block;
  width: 0.5rem;
  height: 70%;
  position: absolute;
  background: rgb(60, 22, 73);
  background: linear-gradient(187deg, rgba(60, 22, 73, 1) 0%, rgba(101, 23, 156, 1) 15%);
  transform: rotate(90deg);
  bottom: -13px;
  left: 12px;
  @media (min-width: 768px) {
    transform: rotate(0deg);
    bottom: 0;
    left: 0;
    height: 100%;
  }
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: $--card-border-radius;
  @media (min-width: 1024px) {
    overflow: hidden;
  }
}
.left .sidebar .menu-item:last-child.active {
  border-bottom-left-radius: $--card-border-radius;
  @media (min-width: 1024px) {
    overflow: hidden;
  }
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
