.videos__wrapper {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  background: rgb(39, 6, 37);
  background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(13, 16, 60, 1) 0%);
  box-shadow: 1px 3px 11px 2px rgba(0, 159, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  @media (min-width: 1024px) {
    width: 737px;
  }
  @media (min-width: 1920px) {
    width: 1100px;
  }
}

.video__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  border-bottom: 1px solid rgb(97, 94, 94);
  padding-bottom: 10px;
  & span {
    cursor: pointer;
  }
  & span:nth-child(2) {
    margin-left: 5px;
  }
}
.video-poster {
  > img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
}
.video__list {
  display: grid;
  grid-template: 140px / 1fr;
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 15px;
  & video {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
  & span {
    margin-left: 5px;
  }
  @media (min-width: 768px) {
    grid-template: 140px 140px 140px 140px / 1fr 1fr 1fr;
  }
  @media (min-width: 1440px) {
    grid-template: 140px 140px 140px / 1fr 1fr 1fr;
  }
  @media (min-width: 1920px) {
    grid-template: 140px 140px 140px 140px / 1fr 1fr 1fr 1fr;
  }
}

.video__upload {
  & video {
    border: 3px dashed $--color-gray;
    max-width: 100%;
    border-radius: 20px;
  }
}
.popup__box_video {
  max-width: 1000px;
  height: 100%;
  overflow: scroll;
  background: rgb(0, 0, 0);
  box-shadow: 1px 3px 11px 2px rgba(0, 159, 255, 0.2);
  z-index: 2000;
  & i {
    padding: 5px;
  }
  @media (min-width: 1024px) {
    border-radius: 20px;
  }
}
.video__block {
  position: relative;
  max-width: 1000px;
  margin-bottom: 30px;
  & video {
    width: 100%;
    object-fit: cover;
  }
}

.description {
  padding: 20px 20px 40px 10px;
  background: rgb(34, 31, 34);
  box-shadow: 1px 3px 11px 2px rgba(0, 159, 255, 0.1);
  > h4 {
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    padding: 30px 40px 40px 50px;
  }
}

.detail-info__description {
  border-bottom: 0.5px solid rgb(88, 86, 86);
  padding-bottom: 5px;
  width: 400px;
  > span:first-child {
    position: relative;
    margin-right: 10px;
  }
  > span:first-child::before {
    content: '';
    width: 5px;
    height: 5px;
    background: rgb(85, 85, 85);
    position: absolute;
    bottom: 8px;
    right: -10px;
    border-radius: 50%;
  }
}

.actions_description {
  display: flex;
  margin-top: 10px;
  border-bottom: 0.2px solid rgb(53, 52, 52);
  padding-bottom: 5px;
  font-size: 0.8rem;
  gap: 1rem;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

.actions_item {
  display: flex;
  align-items: center;
  > span {
    margin-left: 3px;
  }
  > i {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-size: 1.3rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  > i:first-child {
    margin: 0;
  }
}
.create-comment {
  margin-top: 15px;
}
.users-comments {
  display: flex;
  border-bottom: 0.2px solid rgb(53, 52, 52);
  padding-bottom: 15px;
  align-items: start;
  margin: 10px 0 10px 0;
  > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.comment {
  width: 900px;
  word-break: break-all;
  margin-left: 10px;
}
.info-comment {
  display: flex;
  border-bottom: 0.2px solid rgb(53, 52, 52);
  padding-bottom: 15px;
  align-items: start;
  margin: 10px 0 10px 0;
  > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  > textarea {
    width: 800px;
    margin: 0 0 10px 15px;
    font-size: 0.9rem;
    resize: none;
    background: transparent;
    outline: none;
    border-radius: 5px;
    color: rgb(214, 212, 212);
  }
}

.info-textarea {
  width: 100%;
  height: 100px;
  > textarea {
    width: 100%;
    margin-left: 15px;
    font-size: 0.9rem;
    resize: none;
    background: transparent;
    outline: none;
    border-radius: 5px;
    min-height: 100px;
    color: white;
  }

  textarea::-webkit-scrollbar {
    width: 0px;
  }
}

.footer-comment {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  > button {
    margin: 0 10px 0 0;
    height: 30px;
    background: rgb(58, 57, 57);
    border-radius: 10px;
    color: white;
  }
  span {
    margin: 10px;
  }
}
.videos__page {
  z-index: 50;
  height: 100vh;
  & .container-popup {
    background: rgba(11, 11, 12, 0.8) !important;
  }
}
.popup-open {
  overflow: hidden;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  & i {
    color: white;
    position: relative;
    font-size: 1rem;
    opacity: 0.8;
    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
    &:hover {
      opacity: 1;
    }
  }
  & .controls {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 7rem;

      position: absolute;
      transform: rotate(270deg);
      top: -50px;
      left: 0;

      @media (min-width: 768px) {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-left: 10px;
      }
    }

    input[type='range']:focus {
      outline: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
      background-color: #9eaeb9;
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -4px;
      border-radius: 50%;
      background-color: #ffffff;
      height: 1rem;
      width: 1rem;
      &:not(:focus) {
        outline: none;
      }
    }

    input[type='range']:focus::-webkit-slider-thumb {
      border: 1px solid #ffffff;
      outline: 1px solid #ffffff;
      outline-offset: 0.125rem;
    }

    input[type='range']::-moz-range-track {
      background-color: #053a5f;
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    input[type='range']::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -4px;
      border-radius: 50%;
      background-color: #ffffff;
      height: 1rem;
      width: 1rem;
      &:not(:focus) {
        outline: none;
      }
    }

    input[type='range']:focus::-moz-range-thumb {
      border: 1px solid #dff1fd;
      outline: 1px solid #dce7f0;
      outline-offset: 0.125rem;
    }
  }
}
.video__block:hover .video-controls-container,
.video__block:focus-within .video-controls-container,
.video__block.paused .video-controls-container {
  opacity: 1;
}
.video-controls-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.72), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -2;
  pointer-events: none;
}
.video__block.paused .pause-icon {
  display: none;
}
.video__block:not(.paused) .play-icon {
  display: none;
}

.controls-start {
  display: flex;

  background: none;
  color: inherit;
  padding: 0;
  height: 15px;
  width: 15px;
  font-size: 1.1rem;

  transition: opacity 150ms easy;
  cursor: pointer;
  & i {
    opacity: 0.6;
  }
}
.controls-end {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.4rem;
  padding: 0;
  @media (min-width: 768px) {
    margin-right: 10px;
  }
}

.duration-container {
  display: flex;
  margin: 4px 0 0 10px;
  font-size: 0.8rem;
  gap: 0.5rem;
  @media (min-width: 768px) {
    font-size: 1rem;
    margin: 2px 0 0 10px;
  }
}

.time-change {
  display: flex;
  margin-left: 20px;
  font-size: 1.5rem;
  margin-top: 2px;
  gap: 0.5rem;
  & i {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.timeline-container {
  height: 7px;
  margin-inline: 0.3rem;
  border-radius: 6px;
  margin-bottom: 5px;
}
.timeline {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  position: relative;
}

.timeline-container:hover .timeline {
  height: 100%;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background: red;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  height: 200%;
  top: -50%;
  transform: translateX(-50%) scale(var(--scale));
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1/1;
}

.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.timeline-container:hover .timeline::before {
  display: block;
}
