.wrapper {
  // background: rgb(39, 6, 37);
  // background: linear-gradient(169deg, rgba(39, 6, 37, 1) 0%, rgba(45, 10, 27, 1) 50%, rgba(10, 14, 64, 1) 100%);
  background: rgb(96, 15, 27);
  background: linear-gradient(
    0deg,
    rgba(15, 9, 42, 1) 7%,
    rgba(24, 30, 80, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}
