.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: #525252;
  width: 40vw;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.container__text{
  font-size: 1.3rem;
  text-align: center;
  color:aliceblue;
  padding-top: 30px;
  padding-bottom: 5vh;
  font-weight: 600;
}
.container__registration{
  font-size: 0.9rem;
  text-align: center;
  display: block;
  color: aliceblue;
  text-decoration: none;

}

